h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f45e00;
}

body {
    text-align: center;
    width: max-content;
    margin-left: auto;
  margin-right: auto;
  background-color: #e196f6;
 
}

#tabellone {
    background-color: blueviolet;
    max-width: 400px;
  height: auto; 
  text-align: center; 
  margin-left: auto;
  margin-right: auto; 
  padding: 20px; 
  color: white;
  border-radius: 10px;
  
  
}

.celle {
    background-color: rgb(238, 81, 38);
    width: 30px; 
    height: 30px; 
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
    padding: 20px; 
    color: white;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
}

#generaNumb {
    margin-top: 30px;
    border-radius: 30px;
    font-size: large;
    background-color: #f45e00;
    


}

.contenitorebot {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
